schema/DataTypeType.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.sila-standard.org">
  <xs:include schemaLocation="Constraint.xsd"/>
  <xs:include schemaLocation="FeatureDefinition.xsd"/>
  <xs:include schemaLocation="Constraint.xsd"/>
  <xs:complexType name="DataTypeType">
    <xs:choice>
      <xs:element type="BasicType" name="Basic" minOccurs="0"/>
      <xs:element type="ListType" name="List" minOccurs="0"/>
      <xs:element type="StructureType" name="Structure" minOccurs="0"/>
      <xs:element type="ConstrainedType" name="Constrained" minOccurs="0"/>
      <xs:element type="IdentifierType" name="DataTypeIdentifier" minOccurs="0"/>
    </xs:choice>
  </xs:complexType>
</xs:schema>